
header p{
    color: #0067a5;
    font-family: 'Cookie', cursive;
    font-size: 14pt;
    text-align: center;
    padding-bottom: 30px;
    margin: 0 auto;
}

header h1{
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 70pt;
    padding-top: 30px;
    margin: 0 auto;
}

nav {
    background-color: #0067a5;
}

h1{
    font-family: 'Cookie', cursive;
    color: #0067a5;
    font-size: 44pt;
    margin-top: 50px;
    /* margin-left: 40px; */
    text-align: center;
}

main img {
    display: block;
    margin-top: 40pt;
    margin-left: auto;
    margin-right: auto;
}

#aquarium {
    font-family: 'Cookie';
    font-size: 18pt;
    text-align: center;
}


.locationsContact {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 30%;
    /* max-height: 250px; */
    border: 3px solid #0067a5;
    background-color: black;
    margin: 1%;
}


.locationsContact:hover .shopInfo{
    opacity: 1;
}

.shopInfo {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        /* margin-left: 40px; */
        /* height: 100%; */
        width: 100%;
        opacity: 0;
        transition: 1s ease;
        background-color: black;
        text-align: center;
        color: rgb(215, 244, 250);
        font-size: 20pt;
}

footer{
    align-items: center;
    background-color: #0067a5;
    margin-top: 30px;
    text-align: center;
    padding: 30px;
}